DB_DSN=host=localhost user=postgres password=postgres dbname=skam port=5432 sslmode=disable
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0
JWT_SECRET=aboba
JWT_TTL_MINUTES=1440
QR_TTL_SECONDS=60
SERVER_ADDR=:8080
